.link {
  padding: rem(5px);
  border-radius: rem(5px);
  @media (max-width: --mantine-breakpoint-sm) {
    height: rem(42px);
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
/* .likeAvatar {
  height: 36px;
  width: 36px;
  background-color: light-dark(
      var(--mantine-color-blue-0),
      var(--mantine-color-blue-6)
    );
} */
